{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>britecore-web-ui</title>
    <link href="{% static '/static/css/app.aa078df850783979d10ada2147bbf346.css' %}" rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src="{% static '/static/js/manifest.2ae2e69a05c33dfc65f8.js' %}"></script>
<script type=text/javascript src="{% static '/static/js/vendor.54fe946355bf47c1b260.js' %}"></script>
<script type=text/javascript src="{% static '/static/js/app.7d60ef5286dd98493f42.js' %}"></script>
</body>
</html>